@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  /* background: url(/images/apple_pie_tabletop_clean.png) no-repeat center center
    fixed; */
  /* filter: blur(10px); */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  font-family: "Shadows Into Light", cursive;
  color: white;
  background-color: black;

  margin: auto;
  /* text-align: center; */
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: title;
  background-color: black;
  height: 100%;
  width: 100%;
  font-size: 4rem;
  font-weight: 1000;
  /* border: solid white; */
  /* border-style: ridge; */
}

.menu-wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  width: max-content;
  justify-content: center;
  /* border: solid white; */
  align-items: center;
  /* align-items: center; */
  /* text-align: left; */
  padding-top: 80px;
}

/* .menu-wrapper > div {
  padding-bottom: 20px;
} */
/* .one-player {
  text-align: left;
} */

.titleNew {
  font-size: 4rem;
  font-weight: 1000;
}

/* .one-player {
  text-decoration: none;
} */

/* .test-link {
  text-decoration: none;
} */

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
  padding-bottom: 20px;
}

/* .rounds {
  display: inline;

  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 2rem; */
/* padding: 2.5rem; */
/* width: 4rem;
  height: 3rem;
  text-align: center; */

/* margin-bottom: 3rem; */
/* } */

.rounds-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  grid-template-areas:
    "label label input arrow-up"
    "label label input arrow-down";
}

.label {
  grid-area: label;
}

.input {
  grid-area: input;
  /* background-color: lawngreen; */
  text-align: center;
}

.up {
  grid-area: arrow-up;
  background-color: rgb(55, 104, 6);
}

.down {
  grid-area: arrow-down;
  background-color: rgb(16, 31, 1);
}
